@import url('https://fonts.googleapis.com/css?family=Lobster+Two');
:root {
  --main-color : #0B132B;
}

.App {
  text-align: center;
  margin: 0;
  overflow-x: hidden;
}
.container-fluid{
  padding: 0;
}
.form{
  text-align: left;
}
.form-wrapper{
  border: 1px;
  border-color: var(--main-color);
}
.head{
  margin-bottom: 0;
  background-color: var(--main-color);
  font-family: 'Lobster Two', cursive;
  font-style: italic;
}
.brand{
  font-size: 30px;
  padding-left: 100px;
  font-weight: 400;
  text-decoration: none;
  color: #fff;
}
.brand:hover{
  color: #f1f1f1;
  text-decoration: none;
}
.App-link {
  color: #61dafb;
}
.side-content{
  margin-top: 0;
  text-align: left;
  padding-left:60px;
  padding-right: 60px;
  margin-bottom: 30px;
}
.lorem-heading{
  margin-top:0;
}
.row{
  margin-top: 10px;
  margin-bottom: 10px;
}
.main-div{
  padding:0px 30px 30px 30px;
  margin-top: 20px;
}
.main-form{
  padding: 10px 40px 20px 40px;
  margin-bottom: 10px;
  color: #f1ffff;
  background-color: var(--main-color);
  border: 1px solid black;
  border-radius: 8px;
}
.radio-group{
  padding: 10px;
  font-size: 15px;
  color: var(--main-color);
  background-color: #fff;
}
.radio input{
  border: 2px solid red;
}
.radio-group:checked + label {
  color: #009688;
}
button{
  margin: 5px;
}
.btn{
  box-sizing: border-box;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  border: 2px solid #e74c3c;
  border-radius: 0.6em;
  color: #e74c3c;
  cursor: pointer;
  align-self: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  padding: 1.2em 2.8em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}
.btn:hover, .btn:focus {
  color: var(--main-color);
  outline: 0;
}
.ani {
  color: #fff;
  background-image: linear-gradient(90deg, #ffffff 50%, transparent 50%);
  border-color: #fff;
  background-position: 100%;
  background-size: 400%;
  transition: background 300ms ease-in-out;
}
.ani:hover {
  background-position: 0;
}

footer{
  position: absolute;
  overflow-x: hidden;
  left: 0;
  bottom: 0;
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  font-family: 'Lobster Two', cursive;
  font-style: italic;
  color: #ffffff;
  background-color: var(--main-color);
}
.footer-brand{
  text-align: left;
  padding-left: 80px;
}
.result{
  margin: 50px;
  font-size: 30px;
}
@media screen and (max-width: 992px) {
  .brand{
    font-size: 30px;
    padding-left: 90px;
    font-weight: 400;
  }
  .main-div{
    padding:10px;
    margin-top: 0;
  }
  .col-xs-7{
    padding-right: 0;
  }
  .col-xs-5{
    padding-left: 0;
  }
  .side-content{
    padding-left: 10px;
    padding-right: 10px;
  }
  .main-form{

    margin-left: 10px;
    padding: 10px;
  }
  .result{
    margin:10px;
  }
  footer{
    position: relative;
  }
  .footer-brand{
    padding-left: 0;
    text-align: center;
  }
}
