@import url('https://fonts.googleapis.com/css?family=Lobster+Two');
:root {
  --main-color : #0B132B;
}

.App {
  text-align: center;
  margin: 0;
  overflow-x: hidden;
}
.container-fluid{
  padding: 0;
}
.form{
  text-align: left;
}
.form-wrapper{
  border: 1px;
  border-color: var(--main-color);
}
.head{
  background-color: var(--main-color);
  font-family: 'Lobster Two', cursive;
  font-style: italic;
}
.brand{
  font-size: 30px;
  padding-left: 100px;
  font-weight: 400;
  text-decoration: none;
  color: #fff;
}
.brand:hover{
  color: #f1f1f1;
  text-decoration: none;
}
.App-link {
  color: #61dafb;
}
.side-content{
  text-align: left;
  padding-left:60px;
  padding-right: 60px;
}
.main-div{
  padding:30px;
}
.main-form{
  padding: 10px 40px 20px 40px;
  color: #f1ffff;
  background-color: var(--main-color);
  border: 1px solid black;
  border-radius: 8px;
}
button{
  margin: 5px;
}
footer{
  height: 50px;
  margin-top: -50px;
  background-color: var(--main-color);
}
.result{
  margin: 50px;
  font-size: 30px;
}
@media screen and (max-width: 600px) {
  .brand{
    font-size: 25px;
    padding-left: 110px;
    font-weight: 400;
  }
  .main-div{
    padding:10px;
  }
  .side-content{
    padding-left: 10px;
    padding-right: 10px;
  }
  .main-form{
    padding: 10px;
  }
  .result{
    margin:10px;
  }
}
