.App {
  text-align: center;
  padding: 30px;
  overflow-x: hidden;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.form{
  text-align: left;
}
.form-wrapper{
  border: 1px;
  border-color: #191919;
}
.head{
  background-image: url('./images/header_bg.gif');
  background-size: cover;
  height: 100px;
  background-repeat: no-repeat;
  text-align: left;
}
.brand{
  font-size: 30px;
  padding-left: 100px;
  font-weight: 400;
  text-decoration: none;
  color: #191919;
}
.brand:hover{
  color: #111111;
  text-decoration: none;
}
.App-link {
  color: #61dafb;
}
.side-content{
  text-align: left;
  padding-left:60px;
  padding-right: 60px;
}
.main-div{
  padding:30px;
}
.main-form{
  padding: 10px 40px 20px 40px;
  border: 1px solid black;
  border-radius: 8px;
}
button{
  margin: 5px;
}
.result{
  margin: 50px;
  font-size: 30px;
}
@media screen and (max-width: 600px) {
  .App{
    padding: 10px;
  }
  .brand{
    font-size: 25px;
    padding-left: 80px;
    font-weight: 400;
  }
  .main-div{
    padding:10px;
  }
  .side-content{
    padding-left: 10px;
    padding-right: 10px;
  }
  .main-form{
    padding: 10px;
  }
  .result{
    margin:10px;
  }
}
